<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h1>Edit Listing</h1>
    
<form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
    <input type="text" name="listing[title]" value="<%=listing.title%>">
    <br>
    <br>
    <textarea type="text" name="listing[description]"><%=listing.description%></textarea>
    <br>
    <br>
    <input type="number" name="listing[price]" value="<%=listing.price%>" >
    <br>
    <br>
    <input type="text" name="listing[location]" value="<%=listing.location%>">
    <br>
    <br>
    <input type="text" name="listing[country]" value="<%=listing.country%>">
    <br>
    <br>
    <button type="submit">Create </button>
</form>
</body>
</html>